{{ form_start(form) }}
<div class="form-floating mb-3">
    {{ form_row(form.name, {'attr': {'class': 'form-control'}})}}
</div>
<div class="form-floating mb-3">
    {{ form_row(form.content, {'attr': {'class': 'form-control'}})}}
</div>
<div class="form-floating mb-3">
    {{ form_row(form.number, {'attr': {'class': 'form-control'}})}}
</div>
<div class="flex-row d-flex">
    <a href="{{ path('course_index') }}" class="btn btn-outline-primary">Back to list</a>
    <button class="btn btn-outline-primary ms-2">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
